<div class="row">
    <p class="name"><%= @station.name %></p>
    <p class="address"><%= @station.address %></p>
    <p class="fuel_type"><%= @station.fuel %></p>
    <p class="access_times"><%= @station.times %></p>
    <p class="distance"><%= @address_info.distance %></p>
    <p class="travel_time"><%= @@address_info.travel_time %></p>
    <p class="directions"><%= @address_info.directions %></p>
</div>
